<main>
  <div class="heading">
    <h1>find an event</h1>
  </div>

<div class="users">
    {{#each events}}
      <div class="user">
        <a href="/events/{{id}}">{{name}}</a>
        {{#if eventImage}}
        <img src="{{eventImage}}" alt="" class="event picture">
        {{/if}}
        <sub>{{location.city}}, {{location.state}}</sub>
        <p>{{summary}}</p>
      </div>
    {{/each}}
  </div>
</main>